<!-- learning/templates/learning/signup.html -->
{% extends 'learning/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block content %}
<div class="login-container">
    <h2>Sign Up</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
    </form>
    <div class="signup">
        Already have an account? <a href="{% url 'login' %}">Login</a>
    </div>
</div>
{% endblock %}
