{% extends 'learning/base.html' %}
{% block content %}
<div class="container">
    <h1>Video Library</h1>
    <div class="row">
        {% for video in videos %}
        <div class="col-md-4">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ video.title }}</h5>
                    <p class="card-text">{{ video.description }}</p>
                    <a href="{{ video.url }}" class="btn btn-primary">Watch Video</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
